@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    .card {
      max-width: 100%;
      background-color: theme('colors.white');
      border-radius: theme('borderRadius.2xl');
      padding: theme('spacing.4');
    
    }

    .card1 {
      background-color: theme('colors.white');
      border-radius: theme('borderRadius.2xl');
      padding: theme('spacing.3');
      
    }
};

.display-none{
    @apply hidden;
}